<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">   
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
    </head>
    <body>
        <header th:replace="plantillas/partes :: cabecero"></header>
        <h2>PAGINA DE INICIO</h2>
        <a th:herf="@{/agregar}">AGREGAR USUARIO</a>
        <h4>LISTA DE PERSONAS</h4>
        <hr>
        <div th:if="${usuarios !=null and !usuarios.empty}">
            <table border="1">
                <tr>
                    <th>CEDULA</th>
                    <th>CLAVE</th>
                    <th>NOMBRE</th>
                    <th>EMAIL</th>
                    <th>EDITAR</th>
                    <th>ELIMINAR</th>
                </tr>
                <tr th:each="u:${usuarios}">
                    <th th:text="${u.cedula}"></th>
                    <th th:text="${u.clave}"></th>
                    <th th:text="${u.nombre}"></th>
                    <th th:text="${u.email}"></th>
                    <th><a th:href="@{/editar/}+${u.cedula}" th:text="EDITAR"><a/></td>
                    <th><a th:href="@{/eliminar/{cedula={u.cedula}}}" th:text="ELIMINAR"><a/></td>
                        
                </tr>
            </table>
        </div>
        <div th:if="${usuario == null or usuarios.empty}">
            la lista de usuario esta vacia
        </div> <br/><hr>
        <footer th:replace="plantillas/partes :: pie"></footer>
    </body>
</html>
