<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns="https://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">  
    <head>
        <title>EJEMPLOS DE APP WEB CON SPINGBOOT</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <head th:fragment="cabecero">
        <h1>APP WEB MVC CON SPING BOOT</h1>
        </head>    
        <footer th:fragment="pie">
            <span>By: JEAN CARLOS CASTRO JINETE</span>
            <p><a href="https://prueba.com">
                canal de yy
                </a>
                
                
            </p>
            
            
        </footer>
      
    </body>
</html>
